# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
*.egg-info/

# Generated results
results/*.csv
results/*.png
results/*.pth

# Temporary files
*.tmp
